
#modal-content-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

#modal-title {
    font-size: 22px;
}

#modal-footer {
    justify-self: right;
    align-self: center;
}

#modal-action-button {
    margin-right: 30px;
    background-color:#3b3b3b;
}

#modal-cancel-button {
    background-color: #4e4e4e;
}

.p-t-2 {
    padding-top: 2%;
}

.wid-85 {
    width: 85%;
}

.m-0 {
    margin: 0;
}

.w-35 {
    width: 35%;
}

.m-r-10 {
    margin-right: 10%;
}
